@charset "utf-8";
@import url("../js/bootstrap-4.3.1.js.css");
@import url("../js/jquery-3.3.1.min.js.css");
@import url("../js/popper.min.js.css");
@import url("bootstrap-4.3.1.css");
/* CSS Document */

.nav-link{
	border-radius: 8px;
	transition: 0.5s all ease;
}
.nav-link:hover{
 background-color: #C41FAD
}
body{
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #FBFBFB;
}

.container .content {
    background-color: #9B0370;
    color: #FFFFFF;
    text-align: left;
}
.container .footer {
    height: 200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #000000;
    text-align: center;
    background-color: #F0B6E7;
}
